
aistat-style/sample_paper.pdf

aistat-style/sample_paper.aux

aistat-style/sample_paper.log

aistat-style/sample_paper.synctex.gz

*.aux

*.log

*.gz

bgo.pdf

*.bbl

*.blg

*.out

*.thm

figs/oracle.graffle/data.plist

figs/oracle.graffle/image3.pdf

figs/oracle.graffle/image4.pdf

figs/oracle.graffle/image5.pdf
